/* http://colorschemedesigner.com/#3u21LsOsOmSJD */
$back: #F4FBFF;
$text: #061D2B;
$text_hover: lighten($text, 10%);
$text_gray: #4B5459;
$text_gray_hover: lighten($text_gray, 10%);
$dark: #0B496E;
$base: #166492;
$high: #E68917;
$high_light: #F8B86A;

//$back: #A0C9E1;
@mixin artwork($size) {
  .artwork {
    width: $size;
    height: $size;
    float: left;
    text-align: center;
    margin-left: 10px;
    line-height: $size;

    img {
      max-width: $size;
      max-height: $size;
      vertical-align: middle;
    }
  }
}

@mixin enque($size, $button_height) {
  .enque_wrap {
    position: relative;
    height: $button_height;
    text-align: right;
    bottom: ($size/2)+($button_height/2);
    padding: 0; margin: 0;
    margin-right: 15px;

    a {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

@mixin song($size, $width) {
  clear: both;
  height: $size;
  padding-top: 6px;
  padding-bottom: 6px;

  .middle_wrap {
    display: table-cell;
    vertical-align: middle;
    height: $size;
    width: $width - 140px;
    position: relative;
    z-index: 5;
  }

  @include enque($size, 35px);

  .song_info {
    margin-left: 15px;

    .song_name {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 1.1em;
    }

    .song_artist, .song_album {
      color: $text_gray;
    }

    .song_album {
      display: none;
    }

    a {
      color: $text_gray;
      &:hover {
        color: $text_gray_hover;
      }
    }
  }

  @include artwork($size);
}

@mixin jockey($width) {
  * {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: $text;
  }

  pre {
    font-family: 'Monaco', monospace;
  }

  body {
    background-color: white;
    text-align: center;
  }

  #content {
    clear: both;
  }

  a {
    text-decoration: none;
    &:hover {
      color: $text_hover;
    }
  }

  header#head {
    margin-bottom: 15px;

    h1 {
      margin: 0px;
    }

    nav {
      float: right;
      margin-top: -40px;
    }
  }

  #container {
    width: $width;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .even {
    background-color: $back;
  }

  #playing {
    @include song(200px, $width);

    .song_info {
      .song_name {
        font-size: 1.6em;
      }

      .song_album {
        display: block;
      }

      .song_artist, .song_album {
        font-size: 1.1em;
      }
    }
  }

  .song {
    @include song(80px, $width);
  }

  #search {
    background-color: $dark;
    padding: 5px 5px;
    margin-top: 10px;

    #search_form {
      margin: 0; padding: 0;
      text-align: center;
    }

    #search_box {
      width: 99%;
      margin: 0;
      border: none;
      font-size: 1.05em;
      padding: 5px 3px;
      border-radius: 3px;
    }
  }

  .album_mini {
    $artwork_size: 40px;
    @include song(40px, $width);
    @include artwork($artwork_size);
  }

  .album {
    $artwork_size: 120px;
    @include song(40px, $width);
    @include artwork($artwork_size);
    .artwork {
      float: left;
    }

    .right {
      float: left;
      margin-left: 5px;
      width: $width - 15px - 5px - $artwork_size;

      .song_mini {
        width: 100%;
        height: 40px;
      }

      @include enque(40px, 30px);
      header {
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: -15px;

        h2 {
          margin: 0;
        }

        .enque_wrap {
          top: -35px;
        }
      }

      .enque {
        font-size: 24px ! important;


      }
      margin-bottom: 20px;
    }
    clear: both;
  }

  .artist {
    @include song(30px, $width);
  }

  #songs, #albums, #artists {
    h2 {
      margin: 15px;
      font-size: 95%;
    }
  }

  .notification {
    display: none;
  }
}

@include jockey(750px);
