
/* http://colorschemedesigner.com/#3u21LsOsOmSJD */

//$back: #A0C9E1;
$back: #F4FBFF;
$text: #061D2B;
$text_hover: lighten($text, 10%);
$text_gray: #4B5459;
$text_gray_hover: lighten($text_gray, 10%);
$dark: #0B496E;
$base: #166492;
$high: #E68917;
$high_light: #F8B86A;

* {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: $text;
}

pre {
  font-family: 'Monaco', monospace;
}

body {
  background-color: white;
  text-align: center;
}

#container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.even {
  background-color: $back;
}

@mixin artwork($size) {
  .artwork {
    width: $size;
    height: $size;
    float: left;
    text-align: center;
    margin-left: 10px;
    line-height: $size;

    img {
      max-width: $size;
      max-height: $size;
      vertical-align: middle;
    }
  }
}

@mixin enque($size, $button_height) {
  .enque_wrap {
    position: relative;
    height: $button_height;
    text-align: right;
    bottom: ($size/2)+($button_height/2);
    padding: 0; margin: 0;
    margin-right: 15px;

    a {
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: $text_hover;
      }
    }
  }


}

@mixin song($size) {
  clear: both;
  height: $size;
  padding-top: 6px;
  padding-bottom: 6px;

  .middle_wrap {
    display: table-cell;
    vertical-align: middle;
    height: $size;
  }

  @include enque($size, 35px);

  .song_info {
    margin-left: 15px;

    .song_name {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 1.1em;

      a {
        text-decoration: none;
        color: $text;
        &:hover {
          color: $text_hover;
        }
      }
    }

    .song_artist, .song_album {
      color: $text_gray;
    }

    .song_album {
      display: none;
    }

    a {
      text-decoration: none;
      color: $text_gray;
      &:hover {
        color: $text_gray_hover;
      }
    }
  }

  @include artwork($size);
}

#playing {
  @include song(200px);

  .song_info {
    .song_name {
      font-size: 1.6em;
    }

    .song_album {
      display: block;
    }

    .song_artist, .song_album {
      font-size: 1.1em;
    }
  }
}



.song {
  @include song(80px);
}

#search {
  background-color: $dark;
  padding: 5px 5px;
  margin-top: 10px;

  #search_form {
    margin: 0; padding: 0;
    text-align: center;
  }

  #search_box {
    width: 99%;
    margin: 0;
    border: none;
    font-size: 1.05em;
    padding: 5px 3px;
    border-radius: 3px;
  }
}

.album {
  $artwork_size: 120px;
  @include song(40px);
  @include artwork($artwork_size);
  .artwork {
    float: left;
  }
  h2 {
    margin-left: 15px;
  }
  .right {
    margin-left: $artwork_size + 15px;

    .song_mini {
      height: 40px;
    }

    @include enque(40px, 30px);
    .enque {
      font-size: 24px ! important;
    }
  }
}

.artist {
  @include song(30px);
}

#songs, #albums, #artists {
  h2 {
    margin: 15px;
    font-size: 95%;
  }
}
