!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}
    %link{rel: 'stylesheet', href: '/styles/jockey.css', type: 'text/css'}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{src: "/scripts/jockey.js"}
    %script{src: '/scripts/jquery.pjax.js'}
    %title Jockey
  %body
    %div#container
      %header#head
        %h1
          %a{href: "/", data: {pjax: "#content"}} Jockey
        %nav
          %a.notification{href: "#"}
            %img{src: "/images/notification_off.svg"}
          %a{href: "/", data: {pjax: "#content"}}
            %img{src: "/images/queue.svg"}
          %a{href: "/history", data: {pjax: "#content"}}
            %img{src: "/images/history.svg"}

      %section#playing
        = haml :song, layout: false, locals: {song: Jockey::Player.playing}

      %nav#search
        %form#search_form{action: "/search", method: "GET"}
          %input#search_box{type: "text", name: "q", placeholder: "Search...", value: search ||= ""}

      %section#content
        = yield
